/*HEADER STYLES*/
.container {
  width: 73vw;
  margin: 0 auto;
}
header {
  background: linear-gradient(to right, #00000042, #00000042), url(./images/hero_1.jpg.webp)center/cover;
  height: 100vh;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

header nav ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

header nav ul a {
  font: 450 16px "Open Sans";
  text-transform: capitalize;
  color: white;
  transition: .4s;
}

header nav ul a:hover {
  color: #ff7404;
  cursor: pointer;
}

.foody-link {
  font: 800 32px "Open Sans";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.contact-us-link {
  font: 14px "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7404;
  padding: 12px 20px;
  transition: .4s;
}

.contact-us-link:hover {
  color: #ff7404;
  background-color: #fff;
}

.header-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-width: 60%;
}

.header-content-div h1 {
  font: 800 80px "Open Sans";
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.header-content-div p {
  font: 300 20px "Open Sans";
  color: #ffffffe6;
  text-align: center;
}

.header-content-div a {
  font: 350 16px "Open Sans";
  color: #ffffffe6;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px;
  border: 2px solid white;
  margin-top: 50px;
  transition: .4s;
}

.header-content-div a:hover {
  background: white;
  color: #000;
}

/*SECTION 2 STYLES*/

.section2-bg-div {
  margin-top:-190px;
  clip-path: polygon(0 22%, 100% 0, 100% 78%, 0% 100%);
  height: 80vh;
  display: flex;
  align-items: center;
  background: #eee;
}

.section2-bg-div i {
  font-size: 26px;
  background-color: #ff7404;
  padding: 24px 26px;
  border-radius: 100px;
  color: white;
}
.section2-cards-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section2-card-div h2{
  font: 500 16px "Open Sans";
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff7404;
  margin: 30px 0 12px 0;
}
.section2-card-div p{
  font: 400 15px "Open Sans";
  line-height: 1.8;
  color: #868e96;
}

/*SECTION 3*/
.section3-bg-div{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3-bg-div .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-bg-div .container hr,
.section4-bg-div hr,
.section5-bg-div hr,
.section6-bg-div hr,
.section7-bg-div hr
{
  border: 2px solid #ff8c2e;
  width: 80px;
  margin: 15px;
}
.section3-bg-div .container h2,
.section4-bg-div h2,
.section5-bg-div h2,
.section6-bg-div h2,
.section7-bg-div h2{
  font: 800 50px "Open Sans";
  text-transform: uppercase;
  padding: 10px 0;
}
.section3-bg-div .container p{
  font: 350 15px "Open Sans";
  line-height: 1.8;
  color: #868e96;
  text-align: center;
  max-width: 650px;
}
.section3-images-div{
  height:70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px 35px;
  justify-content: center;
  margin-top: 50px;
}
.section3-bg-div img{
  max-width: 350px;
}

/*SECTION 4 STYLES*/
.section4-bg-div{
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4-images-div{
  display: flex;
  gap: 35px;
  margin-top: 60px;
}
.section4-images-div img{
  width: 480px;
}

/*SECTION 5 STYLES*/
.section5-bg-div {
  height:180vh;
  clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0% calc(100%));
  background: #eee;
}
.section5-bg-div .container{
  height: 100%;
}
.section5-bg-div hr{
  margin-top:120px;
}
.section5-bg-div .container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section5-bg-div .content-div h3{
  font: 450 20px "Open sans";
}
.section5-bg-div .content-div p{
  font: 350 15px "Open sans";
  line-height: 1.8;
  color: #868e96;
  margin: 10px 0;
}
.section5-bg-div .content-div span{
  font: 350 25px "Open sans";
  line-height: 1.8;
  color: #ff7404;
  margin: 10px 0;
}
.section5-bg-div .content-div{
  width: 50%;
  height: 100%;
  padding: 15px;
  background-color: #fff;
}
.section5-card-div img{
  width: 50%;
  object-fit: cover;
}
.section5-cards-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.section5-card-div{
  display: flex;
  width: 50%;
  height: 220px;
  overflow: hidden;
  align-items: center;
}

/*SECTION 6 STYLES*/
.section6-bg-div{
  height: 73vh;
  display: flex;
  align-items: center;
}
.section6-bg-div .container{
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.section6-bg-div .container p{
  padding-top: 100px;
  max-width: 650px;
  text-align: left;
  font: 400 20px "Open Sans";
  line-height: 1.8;
  /*text-align: center;*/
}

/*SECTION 7 STYLES*/
.section7-bg-div{
  height: 130vh;
  display: flex;
  align-items: center;
  clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0% calc(100%));
  background: #eee;
}
.section7-bg-div hr{
  margin-top: 40px;
}
.section7-bg-div .container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section7-bg-div .container .cards-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section7-bg-div .container .card-div{
  margin-top: 70px;
  width: 540px;
  background-color: #fff;
  box-shadow: 0 0 22px -15px rgb(0, 0, 0);
}
.section7-bg-div .container img{
  width: 540px;
  height: 300px;
  object-fit: cover;
}
.section7-bg-div .card-div div{
  padding: 0 30px 30px 30px;
}
.section7-bg-div .card-div h4{
  font: 20px "Open Sans";
  color: #ff7404;
  text-transform: capitalize;
  margin: 25px 0 10px 0;
  width: fit-content;
  transition:.4s;
  &:hover{
    cursor: pointer;
    color: #8f4102;
  }
}
.section7-bg-div .card-div span{
  font: 400 13px "Open Sans";
  color: #999;
  text-transform: capitalize;
}
.section7-bg-div .card-div i{
  margin-right: 3px;
  color:#999;
}
.section7-bg-div .card-div p{
  font: 400 15px "Open Sans";
  margin: 25px 0 20px 0;
  color: #868e96;
  line-height: 1.8;
}
.section7-bg-div .card-div a{
  font: 400 12px "Open Sans";
  background-color: #ff7404;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 20px;
  transition: .4s;
  &:hover{
    opacity: 0.7;
  }
}

/*SECTION 8 STYLES*/
.section8-bg-div{
  height: 30vh;
}
.section8-bg-div .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.section8-bg-div h5{
  font: bold 16px "Open Sans";
  text-transform: capitalize;
}
.section8-bg-div p{
  font: 400 15px "Open Sans";
  max-width: 500px;
  color: #868e96;
  text-align: center;
}
.section8-bg-div .container div{
  display: flex;
  gap: 35px;
}

.section8-bg-div input{
  outline-color: #ff7404;
  padding: 12px 20px;
  border:1px solid;
  border-color: #868e9675;
  width: 300px;
  
}
.section8-bg-div input::placeholder{
  text-transform: capitalize;
  font: 400 16px "Open Sans";
}
.section8-bg-div a{
  font: 400 12px "Open Sans";
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 35px;
  color: white;
  background-color: #ff7404;
}
